/* root */
body{
    margin: 0;
    padding: 0;
}

main{
    position: relative;
    width: 1366px;
    height: 708px;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}

#background{
    position: absolute;
    width: 1366px;
    height: 708px;
    top: 0;
    left: 0;
}

#home-content{
    position: absolute;
    display: flex;
    width: 1366px;
    height: 708px;
    padding: 30px 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.left{
    position: relative;
    width: 40%;
    /* background-color: gray; */
}

.right{
    position: relative;
    width: 60%;
    /* background-color: green; */
}

/* layot */
.padding-left{
    padding-left: 38px;
}

/* color */
.yellow{
    color: #ffdd00;
}

.blue{
    color: #00c3ff;
}

/* tool */


/* module */
.menu-1-button{
    line-height: 60px;
    font-style:italic;
    font-size: 46px;
    font-weight: 400;
    color: white;
    text-shadow: gray 1px 0 0, gray 0 1px 0, gray -1px 0 0, gray 0 -1px 0;
    transition: 0.1s;
    cursor: pointer;
}

.menu-1-button:hover{
    padding-left: 70px;
}

.menu-2-button{
    opacity: 0.8;
    line-height: 24px;
    font-size: 16px;
    font-weight: 100;
    color: white;
    text-shadow: black 1px 0 0, black 0 1px 0, black -1px 0 0, black 0 -1px 0;
    transition: 0.1s;
    cursor: pointer;
}

.menu-2-button:hover{
    padding-left: 50px;
    font-size: 18px;
}

.chat{
    width: 300px;
    position: absolute;
    bottom: 0;
}

.chat>ul{
    padding-left: 18px;
}

.chat-content{
    margin-bottom: 5px;
    font-size: 12px;
    text-shadow: 1px 1px black;
}

.chat-button{
    display: inline-block;
    font-size: 12px;
    font-weight: 100;
    padding: 6px 12px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(48, 48, 48);
    opacity: 0.5;
    color: white;
}

.footer{
    display: block;
    text-align: center;
    width: 1366px;
    height: 30px;
    margin: auto;
    line-height: 30px;
    background: linear-gradient(to right,#4776E6,#8E54E9);
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.ani{
    opacity: 0;
    transition: 0.1s;
}

.footer:hover .ani{
    opacity: 1;
    padding: 0 3px;
}